---
import cn from 'classnames';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import HeroCoverImage from '../components/HeroCoverImage.astro';
import { getBoardMembers } from '../data/boardMembers';
import type { BoardMember } from '../data/boardMembers';
import { getVision } from '../data/vision';
import { getTenets } from '../data/tenets';
import { getPage } from '../data/page';

const tenets = await getTenets();

const boardMembers = await getBoardMembers();

const teamMap = new Map<string, BoardMember[]>();

for (const member of boardMembers.reverse()) {
  if (teamMap.has(member.fields.team)) {
    teamMap.get(member.fields.team)?.push(member);
  } else {
    teamMap.set(member.fields.team, [member]);
  }
}

const vision = await getVision();

const about = await getPage(201);
---

<Layout title="About">
  <main>
    <HeroCoverImage
      title={about.title}
      subtitle={about.subtitle}
      backgroundImage={about.image.src}
    />

    <Section containerClass="bg-slate-100">
      <h2 class="section-heading text-primary-header-dark">{vision.title}</h2>

      <div
        class="section-paragraph text-paragraph-dark"
        set:html={vision.content}
      />
    </Section>

    <Section containerClass="text-paragraph-light">
      <h2 class="section-heading text-primary-header-dark">Tenets</h2>

      <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {
          tenets.reverse().map((tenet) => (
            <li class="rounded shadow-md border-2 border-slate-300 p-6 flex justify-center flex-col items-center text-center">
              <img src={tenet.fields.icon.url} />

              <h3 class="section-heading text-primary-header-dark py-2">
                {tenet.fields.name}
              </h3>

              <p class="section-paragraph text-paragraph-dark">
                {tenet.fields.description}
              </p>
            </li>
          ))
        }
      </ul>
    </Section>

    <Section containerClass="bg-slate-100">
      <h2 class="section-heading text-primary-header-dark">Organization</h2>

      {
        Object.entries(Object.fromEntries(teamMap)).map(
          ([team, members], index) => (
            <section class={cn('ml-3', { 'py-6': index > 0 })}>
              <h3 class="section-heading-minor text-slate-800 mb-3">{team}</h3>

              <ul class="grid md:grid-cols-3 lg:grid-cols-4 grid-cols-1 sm:grid-cols-2 gap-5 sm:gap-10 ml-3">
                {members.map((member) => (
                  <li>
                    <span class="text-slate-700 block font-bold">
                      {member.fields.first_name} {member.fields.last_name}
                    </span>

                    <span class="text-slate-600">{member.fields.position}</span>
                  </li>
                ))}
              </ul>
            </section>
          )
        )
      }
    </Section>
  </main>
</Layout>

<style></style>
