---
import cn from 'classnames';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import HeroCoverImage from '../components/HeroCoverImage.astro';
import Flag from '../components/svgs/Flag.astro';
import People from '../components/svgs/People.astro';
import Book from '../components/svgs/Book.astro';
import Heart from '../components/svgs/Heart.astro';
import { getBoardMembers } from '../data';

const tenants = [
  {
    title: 'Cultural Preservation',
    icon: Flag,
    description:
      'To safeguard and share the Circassian culture, language, and traditions through various educational and cultural programs.'
  },
  {
    title: 'Community Engagement',
    icon: Heart,
    description:
      'To strengthen the Circassian community by organizing events, support groups, and initiatives that foster unity and mutual support.'
  },
  {
    title: 'Outreach and Education',
    icon: Book,
    description:
      'To educate the wider public about Circassian history and culture, promoting diversity and intercultural dialogue.'
  },
  {
    title: 'Youth Empowerment',
    icon: People,
    description:
      'To invest in the younger generation, providing them with opportunities to learn, participate, and lead within the community.'
  }
];

interface BoardMember {
  first_name: string;
  last_name: string;
  position: string;
  team: string;
}

const boardMembers: BoardMember[] = await getBoardMembers();

const teamMap = new Map<string, BoardMember[]>();

for (const member of boardMembers.reverse()) {
  if (teamMap.has(member.team)) {
    teamMap.get(member.team)?.push(member);
  } else {
    teamMap.set(member.team, [member]);
  }
}

const subtitle = `“…study and foster all matters pertaining to the welfare of the
            Circassians in America… and to strengthen the cooperative ties among
            the Circassians wherever they may be to preserve and nurture the
            Circassian heritage.”`;
---

<Layout title="About">
  <main>
    <HeroCoverImage
      title="Our Mission"
      subtitle={subtitle}
      backgroundImage="/cba-photo.jpeg"
    />

    <Section containerClass="bg-slate-100">
      <h2 class="section-heading text-primary-header-dark">Vision</h2>

      <p class="section-paragraph text-paragraph-dark">
        We envision a world where Circassian culture is widely recognized and
        celebrated, and where our community members are empowered to thrive in a
        multicultural society. Our aim is to build bridges of understanding and
        cooperation, ensuring that the unique traditions and values of the
        Circassian people continue to enrich our diverse world.
      </p>
    </Section>

    <Section containerClass="text-paragraph-light">
      <h2 class="section-heading text-primary-header-dark">Tenants</h2>

      <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {
          tenants.map((tenant) => (
            <li class="rounded shadow-md border-2 border-slate-300 p-6 flex justify-center flex-col items-center text-center">
              <tenant.icon />

              <h3 class="section-heading text-primary-header-dark py-2">
                {tenant.title}
              </h3>

              <p class="section-paragraph text-paragraph-dark">
                {tenant.description}
              </p>
            </li>
          ))
        }
      </ul>
    </Section>

    <Section containerClass="bg-slate-100">
      <h2 class="section-heading text-primary-header-dark">Organization</h2>

      {
        Object.entries(Object.fromEntries(teamMap)).map(
          ([team, members], index) => (
            <section class={cn('ml-3', { 'py-6': index > 0 })}>
              <h3 class="section-heading-minor text-slate-800 mb-3">{team}</h3>

              <ul class="grid md:grid-cols-3 lg:grid-cols-4 grid-cols-1 sm:grid-cols-2 gap-5 sm:gap-10 ml-3">
                {members.map((member) => (
                  <li>
                    <span class="text-slate-700 block font-bold">
                      {member.first_name} {member.last_name}
                    </span>

                    <span class="text-slate-600">{member.position}</span>
                  </li>
                ))}
              </ul>
            </section>
          )
        )
      }
    </Section>
  </main>
</Layout>

<style></style>
