---
import cn from 'classnames';
import { Picture } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import HeroCoverImage from '../components/HeroCoverImage.astro';
import CircassianWarrior from '../assets/circassian-warrior.jpeg';
import CircassianAlphabet from '../assets/circassian-alphabet.jpeg';
import CircassianFlag from '../assets/circassian-flag.png';
import DiasporaMap from '../assets/diaspora-map.png';
import { getRecommendedBooks } from '../data';

const subtitle =
  "From ancient warriors to a global diaspora, the Circassians' enduring spirit transcends centuries of history and hardship.";

const books = await getRecommendedBooks();
---

<Layout title="History">
  <main>
    <HeroCoverImage
      title="Circassian History"
      subtitle={subtitle}
      backgroundImage="/circassian-dance-bg.png"
    />

    <Section containerClass="bg-slate-100" innerSectionClass="flex flex-row">
      <h2 class="section-heading text-primary-header-dark">Introduction</h2>

      <div class="flex flex-col lg:flex-row gap-base">
        <div class="text-paragraph-dark section-paragraph section-layout">
          <p>
            Circassians, also called Cherkess or Adyghe (Adyghe and Kabardian:
            Адыгэхэр, romanized: Adygekher), are an indigenous Northwest
            Caucasian ethnic group and a nation; native to the historical
            country-region of Circassia in the North Caucasus.
          </p>

          <p>
            As a consequence of the Circassian genocide perpetrated by the
            Russian Empire in the 19th century during the Russo-Circassian War,
            most Circassians were exiled from their homeland in Circassia to
            modern-day Turkey and the rest of the Middle East, where most of
            them are today.
          </p>

          <p>
            In the early 1990s, the Unrepresented Nations and Peoples
            Organization estimated that there are as many as 3.7 million
            Circassians in diaspora in over 50 countries.
          </p>

          <p>
            Circassians have a rich cultural heritage that includes unique
            traditions, music, dance, and attire. Their traditional music
            involves the use of instruments such as the shichepshin (a stringed
            instrument), the pshina (a flute), and the Circassian accordion. The
            traditional Circassian dance is characterized by its elegance and
            the striking attire worn by the dancers. Men wear coats with
            cartridge belts and woolen hats, while women dress in ornate, long
            dresses with tight sleeves.
          </p>
        </div>

        <Picture src={CircassianWarrior} alt="A Circassian warrior" />
      </div>
    </Section>

    <Section
      containerClass="bg-primary-green text-paragraph-light"
      innerSectionClass="flex"
    >
      <h2 class="section-heading text-primary-header-light">Our Language</h2>

      <div class="flex flex-col lg:flex-row gap-base">
        <div class="section-paragraph section-layout">
          <p>
            Circassians mainly speak the Circassian languages, two mutually
            intelligible languages of the Northwest Caucasian language family,
            namely Adyghe (West Circassian) and Kabardian (East Adyghe). Adyghe
            is based on Temirgoy (Chemirgoy) dialect, while Kabardian is based
            on the dialect of the same name.
          </p>

          <p>
            Circassians also speak Russian, Turkish, English, Arabic, and Hebrew
            in large numbers, having been exiled by Russia to lands of the
            Ottoman Empire, where the majority of them live today, and some to
            neighboring Persia, to which they came primarily through mass
            deportations by the Safavids and Qajars or, to a lesser extent, as
            muhajirs in the 19th century.
          </p>
        </div>

        <Picture
          class="w-full sm:w-1/2 lg:w-full"
          src={CircassianAlphabet}
          alt="The Circassian Alphabet"
        />
      </div>
    </Section>

    <Section>
      <h2 class="section-heading text-primary-header-dark">Our Flag</h2>

      <p class="section-paragraph text-paragraph-dark">
        The national flag of the Circassians, the Circassian flag consists of a
        green field charged with 12 gold stars and, in the center, three crossed
        arrows. The stars represent the 12 historical Circassian provinces: the
        Abzakh, the Besleney, the Bzhedugh, the Hatuqway, the Kabardians, the
        Mamkhegh, the Natukhaj, the Shapsugh, the Chemirgoy, the Ubykh, the
        Yegeruqway and the Zhaney.
      </p>

      <Picture src={CircassianFlag} alt="The Circassian Flag" />
    </Section>

    <Section containerClass="bg-primary-header-light">
      <h2 class="section-heading text-primary-header-dark">Diaspora</h2>

      <Picture src={DiasporaMap} alt="A map of the Circassian diaspora" />

      <p class="section-paragraph text-paragraph-dark">
        Much of Adyghe culture was disrupted after the conquest of their
        homeland by Russia in 1864. The Circassian people were subjected to
        ethnic cleansing and mass exile mainly to the Ottoman Empire, and to a
        lesser extent Qajar Iran and the Balkans.
      </p>

      <p class="section-paragraph text-paragraph-dark">
        This increased the number of Circassians in the region and even created
        several entirely new Circassian communities in the states that got
        created after the dissolution of the Ottoman Empire. However, Adyghe
        have also lived outside the Caucasus region since the Middle Ages. They
        were particularly well represented in Turkey and Egypt.
      </p>
    </Section>

    <Section>
      <h2 class="section-heading text-primary-header-dark">
        Recommended Books
      </h2>

      <p class="section-paragraph text-paragraph-dark">
        To deepen your understanding of Circassian history and culture, here’s a
        curated list of books and scholarly articles. This selection aims to
        provide a comprehensive overview from ancient times to the modern
        diaspora.
      </p>

      <ul class="mt-6">
        {
          books.map((book, index) => (
            <li
              class={cn('flex flex-col md:flex-row gap-6', {
                'my-14': index > 0
              })}
            >
              <img
                class="flex-none w-[300px] h-full rounded"
                src={book.image_url}
                alt={book.title}
              />

              <div class="flex-initial w-full">
                <h3 class="text-primary-header-dark text-xl font-bold">
                  {book.title}
                </h3>
                <h4 class="text-primary-header-dark text-lg font-bold">
                  {book.author}
                </h4>

                {book.description.split('\r\n\r\n').map((content) => (
                  <p class="section-paragraph text-paragraph-dark mb-4">
                    {content}
                  </p>
                ))}
              </div>
            </li>
          ))
        }
      </ul>
    </Section>
  </main>
</Layout>
