---
import cn from 'classnames';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import HeroCoverImage from '../components/HeroCoverImage.astro';
import { getBooks } from '../data';
import { getPageAndPageChildren } from '../data/page';

const books = await getBooks();

const { parent, children } = await getPageAndPageChildren('history');
---

<Layout title="History">
  <main>
    <HeroCoverImage
      title={parent.title}
      subtitle={parent.subtitle}
      backgroundImage={parent.image.src}
    />

    {
      children
        .sort((a, z) => a.order - z.order)
        .map((childPage, index) => {
          const colorCycle = index % 3;

          const colors = [
            {
              bg: 'bg-slate-100',
              heading: 'section-heading text-primary-header-dark',
              paragraph: 'text-paragraph-dark section-paragraph section-layout'
            },
            {
              bg: 'bg-primary-green text-paragraph-light',
              heading: 'section-heading text-primary-header-light',
              paragraph: 'section-paragraph section-layout'
            },
            {
              bg: '',
              heading: 'section-heading text-primary-header-dark',
              paragraph: 'section-paragraph text-paragraph-dark'
            },
            {
              bg: 'bg-primary-header-light',
              heading: 'section-heading text-primary-header-dark',
              paragraph: 'section-paragraph text-paragraph-dark'
            }
          ];

          const color = colors[colorCycle];

          return (
            <Section containerClass={colors[colorCycle]?.bg ?? ''}>
              <h2 class={color?.heading}>{childPage.title}</h2>

              <div class="flex flex-col lg:flex-row gap-base">
                <div class={color?.paragraph} set:html={childPage.content} />
              </div>

              <img
                class="rounded"
                src={childPage.image.src}
                alt={childPage.image.alt}
              />
            </Section>
          );
        })
    }

    <Section>
      <h2 class="section-heading text-primary-header-dark">
        Recommended Books
      </h2>

      <p class="section-paragraph text-paragraph-dark">
        To deepen your understanding of Circassian history and culture, here’s a
        curated list of books and scholarly articles. This selection aims to
        provide a comprehensive overview from ancient times to the modern
        diaspora.
      </p>

      <ul class="mt-6">
        {
          books.map((book, index) => (
            <li
              class={cn('flex flex-col md:flex-row gap-6', {
                'my-14': index > 0
              })}
            >
              <img
                class="flex-none w-[300px] h-full rounded"
                src={book.image_url}
                alt={book.title}
              />

              <div class="flex-initial w-full">
                <h3 class="text-primary-header-dark text-xl font-bold">
                  {book.title}
                </h3>
                <h4 class="text-primary-header-dark text-lg font-bold">
                  {book.author}
                </h4>

                {book.description.split('\r\n\r\n').map((content) => (
                  <p class="section-paragraph text-paragraph-dark mb-4">
                    {content}
                  </p>
                ))}
              </div>
            </li>
          ))
        }
      </ul>
    </Section>
  </main>
</Layout>
