---
import Layout from '../layouts/Layout.astro';
import EventCard from '../components/EventCard.astro';
import NewTabLink from '../components/NewTabLink.astro';
import Section from '../components/Section.astro';
import YouTube from '../components/svgs/YouTube.astro';
import Facebook from '../components/svgs/Facebook.astro';
import Instagram from '../components/svgs/Instagram.astro';
import { Carousel } from '../components/Carousel';
import { getCarouselAds } from '../data/carouselAds';
import { getEvents } from '../data/events';
import { getPageSpoilers } from '../data/pageSpoilers';
import { addMonths, isWithinInterval } from 'date-fns';
import classNames from 'classnames';
import { getContactInfo } from '../data/contactInfo';
import NoEventsFound from '../components/NoEventsFound.astro';
import ViewAllButton from '../components/ViewAllButton.astro';

const carouselAds = await getCarouselAds();

const events = await getEvents();
const upcomingEvents = events.filter((event) =>
  isWithinInterval(new Date(event.start_date), {
    start: new Date(),
    end: addMonths(new Date(), 2)
  })
);

const pageSpoilers = await getPageSpoilers();

const contactInfo = await getContactInfo();
---

<Layout title="Home">
  <main>
    <Carousel ads={carouselAds} client:load />

    <Section>
      <section class="flex justify-between items-center">
        <h2 class="text-primary-header-dark section-heading">
          Upcoming Events
        </h2>

        <ViewAllButton />
      </section>

      {
        upcomingEvents.length > 0 ? (
          <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {upcomingEvents.map((event) => (
              <EventCard event={event} />
            ))}
          </section>
        ) : (
          <NoEventsFound />
        )
      }
    </Section>

    {
      pageSpoilers.reverse().map((spoiler, index) => (
        <Section
          containerClass={classNames({
            'bg-primary-green text-paragraph-light': index % 2 === 0
          })}
        >
          <h2 class="section-heading">{spoiler.title}</h2>

          <div
            class="section-layout section-paragraph"
            set:html={spoiler.content}
          />

          <a class="cta-button self-start" href={spoiler.link}>
            Read more
          </a>
        </Section>
      ))
    }

    {
      contactInfo === null ? null : (
        <Section containerClass="bg-slate-100">
          <h2 class="section-heading text-primary-header-dark">
            Connect With Us
          </h2>

          <p class="text-paragraph-dark">
            We are located at
            <NewTabLink
              href="https://maps.google.com?q=Circassian Benevolent Association Wayne NJ"
              class="text-href-color -mr-1"
            >
              {contactInfo.address}
            </NewTabLink>
          </p>

          <p class="text-paragraph-dark">
            Our main office number is
            <a
              href={`tel:+${contactInfo.phone_number}`}
              class="text-href-color"
            >
              {contactInfo.phone_number}
            </a>
          </p>

          <p class="text-paragraph-dark">Check out our social media pages!</p>

          <div class="flex gap-base">
            <NewTabLink href={contactInfo.youtube}>
              <YouTube class="w-12 h-auto" />
            </NewTabLink>

            <NewTabLink href={contactInfo.facebook}>
              <Facebook class="w-12 h-auto" />
            </NewTabLink>

            <NewTabLink href={contactInfo.instagram}>
              <Instagram class="w-12 h-auto" />
            </NewTabLink>
          </div>
        </Section>
      )
    }
  </main>
</Layout>
