---
import { format } from 'date-fns';
import { createEventDetailsUrl } from '../utils';
import type { Event } from '../data/events';

interface Props {
  event: Event;
}

const {
  event: {
    slug,
    title,
    content,
    fields: { price_dollars, price_recurrence, start_date }
  }
} = Astro.props;

const printRecurrence = (value: string) => {
  switch (value) {
    case 'one-time':
      return '';

    case 'daily':
      return 'day';

    case 'weekly':
      return 'week';

    case 'monthly':
      return 'month';

    case 'yearly':
      return 'year';

    default:
      return value;
  }
};

const printPrice = () => {
  if (price_dollars === 0) return 'Free';

  if (price_recurrence === 'one-time') return `$${price_dollars}`;

  return `$${price_dollars}/${printRecurrence(price_recurrence)}`;
};
---

<div class="bg-white shadow-md rounded-lg border-t-8 border-emerald-950">
  <div class="p-6">
    <div class="font-bold flex items-center justify-between text-sm">
      <p class="text-slate-600">{format(new Date(start_date), 'MMMM d, p')}</p>
      <span class="bg-slate-700 text-slate-50 px-2 py-1 rounded-full"
        >{printPrice()}</span
      >
    </div>

    <h3 class="font-bold text-xl my-2 line-clamp-1">{title}</h3>
    <div
      class="text-gray-700 mb-4 section-paragraph line-clamp-2"
      set:html={content}
    />

    <a
      href={createEventDetailsUrl(slug)}
      class="cta-button w-full block text-center">Register</a
    >
  </div>
</div>
