---
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.astro';
import { format, isAfter, isSameDay } from 'date-fns';
import {
  getEvents,
  formatDateTimeForUrl,
  createGoogleCalendarUrl,
  venueToFullAddress
} from '../../data/events';

export async function getStaticPaths() {
  const events = await getEvents();

  return events.map((e) => ({
    params: { date: formatDateTimeForUrl(e.start_date) },
    props: { events }
  }));
}

const { date } = Astro.params;
const { events } = Astro.props;

// TODO: This can easily 404, add 404 logic/view.
const matchingEvents = events.filter(
  (e) => !isAfter(formatDateTimeForUrl(e.start_date), date)
)!;

const formatDate = (date: string) => format(date, 'MMMM d, yyyy');
const formatTime = (date: string) => format(date, 'h:mm aa');
---

<Layout title={`Events on ${date}`}>
  <main>
    <Section containerClass="mt-4 text-paragraph-dark">
      <header id="event-header">
        <a href="/events" class="flex items-center gap-1 text-href-color mb-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5"></path>
          </svg>

          View All Events
        </a>

        <h1 class="text-3xl sm:text-4xl font-bold text-primary-header-dark">
          Events on {formatDate(date)}
        </h1>
      </header>

      <ul class="grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-16">
        {
          [...matchingEvents, ...matchingEvents, ...matchingEvents].map((e) => {
            const startDate = formatDate(e.start_date);
            const endDate = formatDate(e.end_date);
            const startTime = formatTime(e.start_date);
            const endTime = formatTime(e.end_date);

            return (
              <li>
                <section class="relative h-64">
                  <div
                    class="rounded-t absolute w-full h-full bg-cover bg-center"
                    style={{ backgroundImage: `url(${e.image.src})` }}
                  >
                    <div class="rounded-b absolute bottom-0 bg-black bg-opacity-75 text-white p-2 w-full">
                      <span>
                        {isSameDay(e.start_date, e.end_date)
                          ? startDate
                          : `${startDate} - ${endDate}`}
                      </span>
                      <span> | </span>
                      <span>
                        {e.all_day ? 'All day' : `${startTime} - ${endTime}`}
                      </span>
                    </div>
                  </div>
                </section>

                <section class="mt-3 flex flex-col gap-2">
                  <h2 class="section-heading text-primary-header-dark">
                    {e.title}
                  </h2>

                  <h2 class="font-semibold">{e.venue.venue}</h2>
                  <h3 class="text-paragraph-dark">
                    {venueToFullAddress(e.venue)}
                  </h3>
                  <article
                    id="event-details"
                    class="sm:text-lg text-base text-paragraph-dark"
                    set:html={e.description}
                  />

                  <a
                    class="cta-button self-start flex gap-2 mt-2"
                    href={createGoogleCalendarUrl(e)}
                    target="blank"
                    rel="noreferrer noopener"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
                      />
                    </svg>
                    Add to Google
                  </a>
                </section>
              </li>
            );
          })
        }
      </ul>
    </Section>
  </main>
</Layout>
